
<div class="collapse navbar-collapse" id="navbarSupportedContent">
	<ul class="navbar-nav mr-auto">
{% for item in items %}
       {% if item.is_expanded %}
           <li class="nav-item dropdown">
<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
{{item.title }} </a>

     <div class="dropdown-menu" aria-labelledby="navbarDropdown">

		{% for subitem in  item.below %}
         <a class="dropdown-item" href="{{ subitem.url }}">{{ subitem.title }}</a>
        {% endfor %}
     </div>

    </li>

		{% else %}
            <li class="nav-item">
          <a class="nav-link" href="{{ item.url }}" tabindex="-1" aria-disabled="true">{{ item.title }}</a>
        </li>
		{% endif %}

      {% endfor %}
		
	
	</ul>
</div>

