<div class="container-fluid">
    <div class="col-md-12">
<div class="second_section responsive-mt-9">

            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="inner1">
                        <div class="second_section__image second_section__full-width">{{ content.field_s2_image.0 }}
                        <h4 class="second_section__small-title">{{ content.field_s2_small_title.0 }}</h4>
                        <h2 class="second_section__big-title font_width">{{ content.field_s2_large_title.0 }}</h2>
                    </div>
              </div>

                </div>


                <div class="col-md-6 col-sm-12 resposive-pt-2">
                    <div class="second_section__card-1">

                        <div class="second_section__image second_section__full-width">{{ content.field_s2_image.1 }}
                        <h4 class="second_section__small-title">{{ content.field_s2_small_title.1 }}</h4>
                        <h2 class="second_section__big-title font_width second_section__font-break">{{ content.field_s2_large_title.1 }}</h2>
                   </div>
                    </div>


                  <div class="second_section__card-2">
                        <div class="second_section__image second_section__full-width mg-top">{{ content.field_s2_image.2 }}
                        <h4 class="second_section__small-title">{{ content.field_s2_small_title.2 }}</h4>
                        <h2 class="second_section__big-title">{{ content.field_s2_large_title.2 }}</h2>
</div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>